# Python
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist-ssr
*.local
# Allow frontend/dist to be tracked for Render deployment
!frontend/dist
!frontend/dist/**

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
